[submodule "api-ai-ios-sdk"]
	path = api-ai-ios-sdk
	url = https://github.com/api-ai/api-ai-ios-sdk.git
[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "CWLSynthesizeSingleton"]
	path = CWLSynthesizeSingleton
	url = https://github.com/incbee/CWLSynthesizeSingleton.git
