[submodule "libs/ios/api-ai-ios-sdk"]
	path = libs/ios/api-ai-ios-sdk
	url = https://github.com/api-ai/api-ai-ios-sdk.git
[submodule "libs/ios/AFNetworking"]
	path = libs/ios/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "libs/ios/CWLSynthesizeSingleton"]
	path = libs/ios/CWLSynthesizeSingleton
	url = https://github.com/incbee/CWLSynthesizeSingleton.git
